* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

img.plane {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 0;
}

img.cloud {
  width: 300px;
  height: 150px;
  position: absolute;
  z-index: 3;
}
.cloud-1 {
  top: 5%;
  left: 10%;
}
.cloud-2 {
  top: 30%;
  left: 25%;
}
.cloud-3 {
  top: 15%;
  left: 50%;
}
.cloud-4 {
  top: 2%;
  left: 75%;
}
.cloud-5 {
  top: 10%;
  left: 125%;
}
